<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="csrf-token" content="" />
    <meta name="csrf-param" content="_token" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GeoZhur</title>
    <script defer="defer" src="/js/app.js"></script>
    <link href="/css/app.css" rel="stylesheet" />
  </head>
  <body class="bg-secondary" x-data="dede" @resize.window="handleResize()">
    <div class="flex flex-col flex-1 w-full h-screen">
      <block name="header"></block>
      <main class="flex-grow">
        <block name="menu"></block>
        <div class="container max-w-3xl px-5 mx-auto text-secondary2">
          <block name="content" />
        </div>
      </main>
      <block name="footer" />
    </div>
  </body>
</html>
